rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow create, update: if request.resource.data.uid == userId;
      allow delete: if false;
    }

    match /publicSite/{docId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if false;
    }

    match /conversations/{conversationId} {
      allow create: if request.resource.data.userId is string &&
        request.resource.data.userId.size() > 0;
      allow read: if true;
      allow update: if request.resource.data.userId == resource.data.userId;
      allow delete: if true;

      match /messages/{messageId} {
        allow create, read, update, delete: if true;
      }
    }
  }
}
